* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Maket deckstop */

    .header-footer {
        background-color: #0000FF;
        color: white;
        padding: 50px;
        font-size: 25px;
        font-family: Helvetica, sans-serif;
    }

    .container {
        display: flex;
        justify-container: center;
        flex-wrap: wrap;
        margin: 50px auto;
    }   

    .block {
        border: 3px solid black;
        width: 45%;
        margin: 10px auto;
    }
    
    .block h1 {
        text-align: center;
        padding: 30px;
    }
    
/* Maket for Iphone 12 Pro */

@media only screen and (max-width: 390px)  {
    .block {
        width: 100%;
        margin: 10px;
    }

    
}
